
<form class="row g-3 needs-validation" (ngSubmit)="loginSubmit(f)" #f=ngForm>

  <h4>{{title}}</h4>

  <div class="form-floating col-md-12">
    <input [(ngModel)]="this.signInRequest.email" name="email" type="email" class="form-control" id="signin_email" placeholder="Email" #email="ngModel" email required>
    <label for="signin_email" class="form-label" *ngIf="email.valid || email.untouched">Email</label>
    <label for="signin_email" class="form-label invalid" *ngIf="!email.valid && email.touched">Insert a valid Email *</label>
  </div>

  <div class="form-floating col-md-12">
    <input [(ngModel)]="this.signInRequest.password" name="password" type="password" class="form-control" id="signin_password" placeholder="Password" #password="ngModel" minlength="5" required>
    <label for="signin_password" class="form-label" *ngIf="password.valid || password.untouched">Password</label>
    <label for="signin_password" class="form-label invalid" *ngIf="!password.valid && password.touched">Insert a valid Password *</label>
  </div>

  <div class="col-12 text-end">
    <button (click)="submit()" class="btn btn-dark rounded-pill" type="submit" [disabled]="!f.valid">Sign in</button>
  </div>
</form>
