<div id="carousel" class="carousel carousel-dark slide">

  <app-get-started></app-get-started>

  <div class="carousel-inner">
    <app-cover></app-cover>
    <!--
    <app-cover></app-cover>
    <app-cover></app-cover>
    -->
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
