
<div id="about" class="container-fluid text-center">
  <div class="container-fluid w-75">
    <h4 class="subsection">About us</h4>

    <p>
      Are you ready to turn your ideas into reality through code? EduMy is the go-to destination
      for anyone looking to learn programming languages, from beginners to experts.
      We offer a wide range of courses designed to guide you step-by-step in learning languages like
      Python, JavaScript, Java, C++, and many more. With our interactive courses, video tutorials,
      and hands-on projects, you'll have the opportunity to acquire skills that are in high demand
      in the job market and to realize your personal projects. Start your journey into the world of
      programming with EduMy today and discover how rewarding it can be to create something extraordinary with code.
    </p>

  </div>
</div>
