
#navbar{
  padding-left: 2%;
  padding-right: 2%;
  transition: 0.5s;
}

.scroll{
  background-color: #758694;
  transform: scale(1.02);
  transition: 0.5s;
}

.nav-item a{
  font-weight: bold;
}

.nav-item a:hover{
  color: #FFF8F3;
}
