
<form class="row g-3 needs-validation" novalidate>

  <h4>{{title}}</h4>

  <div class="form-floating col-md-6">
    <input [(ngModel)]="this.addCourseRequest.name" name="name" type="text" class="form-control" id="name_id" placeholder="Name course" required>
    <label for="name_id">Name course</label>
  </div>

  <div class="form-floating col-md-6">
    <input [(ngModel)]="this.addCourseRequest.descriptionSumm" name="description_summ" type="text" class="form-control" id="summary_id" placeholder="Description summary" required>
    <label for="summary_id">Description summary</label>
  </div>

  <div class="form-floating col-md-6">
    <textarea [(ngModel)]="this.addCourseRequest.descriptionFull" name="description_full" class="form-control" id="full_id" placeholder="Description full" required></textarea>
    <label for="full_id">Description full</label>
  </div>

  <div class="form-floating col-md-2">
    <input [(ngModel)]="this.addCourseRequest.duration" name="duration" type="number" class="form-control" id="duration_id" placeholder="Duration" required>
    <label for="duration_id">Duration</label>
  </div>

  <div class="form-floating col-md-4">
    <select [(ngModel)]="this.addCourseRequest.category" name="category" class="form-select" aria-label="Default select example" id="category_id" placeholder="Category" required>
      <option *ngFor="let item of categories" [value]="item?.id">{{item?.name}}</option>
    </select>
    <label for="category_id">Category</label>
  </div>

  <div class="col-12 text-end">
    <button (click)="submit()" class="btn btn-dark rounded-pill" type="submit">Add</button>
  </div>
</form>
