
button{
  background-color: #405D72;
  border-color: #FFF8F3;
  color: #FFF8F3;
}

button:hover{
  background-color: #FFF8F3;
  border-color: #405D72;
  color: #405D72;
}

input.ng-valid{
  background-color: rgba(0,128,10,0.2);
  transition: 0.5s;
}

.invalid{
  color: orangered !important;
  font-weight: bold;
}

