
<div class="background w-100">

  <div class="row">

    <div class="col-md-4 rounded-4 text-center">
      <form class="row g-3 needs-validation" (ngSubmit)="submit(f)" #f=ngForm>

        <h4>{{title}}</h4>

        <div class="form-floating col-md-6">
          <input [(ngModel)]="this.signUpRequest.firstname" name="firstname" type="text" class="form-control" id="firstname_id" placeholder="Firstname" #firstname="ngModel" minlength="3" required>
          <label for="firstname_id" class="form-label" *ngIf="firstname.valid || firstname.pristine">Firstname</label>
          <label for="firstname_id" class="form-label invalid" *ngIf="!firstname.valid && firstname.dirty">Insert a valid Firstname *</label>
        </div>

        <div class="form-floating col-md-6">
          <input [(ngModel)]="this.signUpRequest.lastname" name="lastname" type="text" class="form-control" id="lastname_id" placeholder="Lastname" #lastname="ngModel" minlength="3" required>
          <label for="lastname_id" class="form-label" *ngIf="lastname.valid || lastname.pristine">Lastname</label>
          <label for="lastname_id" class="form-label invalid" *ngIf="!lastname.valid && lastname.dirty">Insert a valid Lastname *</label>
        </div>

        <div class="form-floating col-md-12">
          <input [(ngModel)]="this.signUpRequest.email" name="email" type="email" class="form-control" id="signup_email" placeholder="Email" #email="ngModel" email required>
          <label for="signup_email" class="form-label" *ngIf="email.valid || email.pristine">Email</label>
          <label for="signup_email" class="form-label invalid" *ngIf="!email.valid && email.dirty">Insert a valid Email *</label>
        </div>

        <div class="form-floating col-md-6">
          <input [(ngModel)]="this.signUpRequest.password" name="password" type="password" class="form-control" id="signup_password" placeholder="Password" #password="ngModel" required>
          <label for="signup_password" class="form-label" *ngIf="password.valid || password.pristine">Password</label>
          <label for="signup_password" class="form-label invalid" *ngIf="!password.valid && password.dirty">Insert a valid Password *</label>
        </div>

        <div class="form-floating col-md-6">
          <input  name="conf_password" type="password" class="form-control" id="conf_password_id" placeholder="Password" required (input)="confirmPsw($event)">
          <label for="conf_password_id" class="form-label" *ngIf="!this.disabled || password.pristine">Confirm password</label>
          <label for="conf_password_id" class="form-label invalid" *ngIf="this.disabled && password.dirty">Password doesn't match *</label>
        </div>

        <div class="col-12">
          <button class="btn btn-dark w-25 rounded-pill" type="submit" [disabled]="this.disabled || !f.valid">Sign Up</button>
        </div>
      </form>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-7">
      <img src="signup_pic.png" alt="..." width="100%" height="auto">
    </div>

  </div>

</div>

<app-footer></app-footer>






