<!-- Get Started -->

<div class="position-absolute w-100 z-1 p-5">
  <div class="row">

    <div id="get-started" class="col-md-4 rounded-5">

      <h1>
        Discover the <br>
        online courses <br>
        of <span>EduMy</span>
      </h1>

      <h5>Unlock Your Potential: Dive into the World of Programming with Our Comprehensive Online Courses</h5>

      <a id="started" routerLink="/signin" class="btn rounded-pill">Get Started</a>
      <a id="signup" routerLink="/signup" href="#" class="btn rounded-pill">Sign Up</a>
    </div>

    <div class="col-md-8"></div>
  </div>
</div>
